.searchBarWrapper {
  width: 22rem;
  height: 2.625rem;
  position: relative;
}

.searchInput {
  width: 22rem;
  height: 2.625rem;
  font-size: var(--text-md);
  font-family: inherit;
  background-color: var(--input-bg);
  border: none;
  border-radius: 0.2rem;
  padding: 10px 130px 10px 16px;
  outline: var(--shape-2);
}

.searchInput:hover {
  opacity: 0.8;
}

.iconWrapper {
  position: absolute;
  right: 16px;
  top: 9px;
}